body{
    background-image:url(css/montagne.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
    padding: 0%;
}
nav{
    padding: 0%;
    width: 100%;
    margin: 1% auto;
    background-color: rgba(0, 60, 255, 0.678);
    position:absolute;
    top: 0px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    width: 25%;
    text-align: left;
    position: relative;
}
nav ul::after{
    content: "";
    display: none;
    clear:left;

}
nav a{
display: block;
text-decoration: none;
color: black;
border-bottom: 2px solid transparent;
padding: 0px 0px;
}
nav a:hover{
    color: rgba(0, 0, 0, 0.589);

}

nav > ul li:hover .list{
    display: block;
}
.list li{
    float: none;
    width: 100%;
    text-align: left;
}
.list a{
    padding: 0px;
    border-bottom: none;
}
.list a:hover{
    border-bottom: none;
    background-color: rgba(47, 173, 247, 0.548);
}
.deroulant > a::after{
    content:"";
    font-size: 10px;
    

}
.list{
    display:none;
    box-shadow: 0px 1px 2px rgb(7, 0, 0);
    background-color: rgba(18, 73, 136, 0.527);
    position: absolute;
    width: 30%;
    padding: 3%;
    z-index: 1000;
    text-align: left;

}
.page li{
    display:block;
    box-shadow: 0px 1px 2px rgb(7, 0, 0);
    background-color: rgba(18, 73, 136, 0.527);
    position: absolute;
    width: 30%;
    padding: 2%; 
    z-index: 1000;
    text-align: right; 
}
.cree{
    position:fixed;
    width: 50%;
    margin-top: 150px;
    padding-left: 25%;
}
h1{
    text-align: center; 
margin-top: 70px;
}
textarea {
    margin: 1px;
    padding:1%;
    text-align: center;
    position: relative;
   
     
}
form{
    border-radius: 3%;
    margin: 5%;
    padding: 2%;
    position: relative;
    font-size: 15px;
    text-align: center;
    background-color: rgba(5, 5, 59, 0.589);
}